War/.vs/War/v15/.suo
*.db
War/.vs/War/v15/Browse.VC.opendb
*.ipch
War/Debug/War.exe
*.ilk
War/Debug/War.pdb
*.sln
War/War/Debug/stdafx.obj
*.cpp
War/War/War.vcxproj
*.idb
War/War/Debug/vc141.pdb
*.tlog
War/War/targetver.h
*.pch
War/War/Debug/War.log
*.obj
*.user
War/War/War.vcxproj.filters
*.h
War/War/ReadMe.txt